/*

Awesome job on HW4! Your layout looks perfect, and you did a fantastic job implementing concepts from class. A few notes:

- You're only using the reset.css stylesheet, so I would delete normalize.css. You always want to remove files you're not using to keep your project organized
- Already using media queries?! What a champ!! You probably don't need the fixed positioning for the nav-right since in a responsive view you'll want it to wrap. Maybe remove the floats and set it to width: 100%? Let me know if you have questions about media queries!
- For the most part, you did a great job using semantic naming conventions. My only note would be for items like sidebar-text-1 and sidebar-text-2; these don't explain what the class is doing and would be hard to reuse or make sense of if someone else were working on your code
- Fantastic job playing around with pseudo selectors and transitions! I always use transitions when I'm adding a hover state; it definitely improves the experience
- Instead of the blog-start class, you can use the :first-letter pseudo selector and make the first letter in each blog a drop cap!
- I would usually avoid using a section within a section; maybe make a container div around the two sections instead?
- You're using the clearfix class in a few places where it's not being used; make sure you're only using it to clear floats so that content will display below it. To test, just remove the class and see if it still looks OK
- Your HTML indentation is literally perfect; it makes me so happy. Probably the best I've seen so far.

*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
  height: relative;
	border: 0;
	display: block;
	color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}

/**SETUP**/
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

@media (max-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }

  .nav-right {
    position: fixed;
    width: 100%;
  }
}

@media (max-width: 900px) {
    .sidebar, .sidebar-bold, .sidebar-text-1, .sidebar-text-1, #learn {
      display: none;
      float: right;
    }
}

/**HEADER**/

header {
	background-color: #033048;
  height: 80px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.nav {
	display: inline-block;
	float: left;
  width: 40%;
}

.logo {
  color: white;
  font-weight: 900;
  font-size: 32px;
  text-align: left;
  margin: 20px 0 0 20px;
  line-height: 1.4;
}

.options, .options li {
  float: right;
  display: inline-block;
  text-align: center;
  margin: 18px 20px 0 0;
}

.nav-right, .nav-right a {
  display: inline-block;
  text-decoration: none;
  color: #f9e42e;
  font-size: 16px;
  font-weight: lighter;
}

/**MAIN CONTAINER**/
.main-container {
  width: 100%;
  background-color: #f0efef;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 1.4;
  height: relative;
  padding: 5% 10% 5% 10%;
}

.main-column {
  width: 700px;
  margin: 0;
  padding: 0;
}

.blog-block {
  border-bottom-color: #033048;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
  padding: 0;
  height: relative;
}

.blog-head {
  color: #033048;
  font-weight: semibold;
  font-size: 40px;
}

.blog-body {
  font-size: 16px;
  font-weight: lighter;
  display: inline-block;
  color: #606161;
  height: relative;
}

.blog-start {
  height: 60px;
  font-size: 60px;
  font-weight: semibold;
  float: left;
  margin-bottom: 10px;
}

.read-more {
  margin-left: 525px;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #033048;
  font-size: 24px;
  font-weight: semibold;
}

.main {
  display: inline-block;
  float: left;
}

.sidebar {
  width: 240px;
  margin-left: 20px;
}

.sidebar-bold {
  font-size: 32px;
  font-weight: 900;
  color: #033048;
  text-decoration: none;
}

.sidebar-text-1 {
  font-size: 24px;
  font-weight: lighter;
  color: #033048;
  text-decoration: none;
}

.sidebar-text-2 {
  font-size: 22px;
  font-weight: lighter;
  color: #033048;
  text-decoration: none;
}

#learn {
  font-size: 22px;
  font-weight: 700;
  color: #033048;
  text-decoration: none;
}

.about {
  margin-bottom: 40px;
  margin-top: 40px;
}

a:hover {
  color: #033048;
  font-size: 24px;
  transition: 1.1s;
}


/**FOOTER**/
.sign-up-container {
  display: block;
  height: 150px;
  background-color: #f9e42e;
  width: 100%;
  padding-top: 40px;
}

.sign-up-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #033048;
  padding: 10px;
  width: 200px;
}

.sign-up-button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

footer {
  display: block;
  height: relative;
  background-color: #121212;
  width: 100%;
  padding-top: 40px;
  margin: 0;
  bottom: 0;
}

.footer-logo {
  margin: 0;
  color: #f9e42e;
  text-align: center;
  font-size: 36px;
}

.icons {
  text-align: center;
  padding-top: 10px;
}

.icons img {
  display: inline-block;
  padding: 20px;
}

.copyright {
  color: white;
  font-size: 14px;
  margin: 0;
  text-align: center;
  padding: 10px 10px;
}
